<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StartUpMyServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StartUpMyServer.Properties.Settings>
            <setting name="selectAssembly" serializeAs="String">
                <value />
            </setting>
            <setting name="selectMaxGBorMB" serializeAs="String">
                <value>Mb</value>
            </setting>
            <setting name="selectMaxValueRAM" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="startUpMaxGb" serializeAs="String">
                <value />
            </setting>
            <setting name="startUpMinGb" serializeAs="String">
                <value />
            </setting>
            <setting name="isGbMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isGbMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="selectMinGBorMB" serializeAs="String">
                <value>Mb</value>
            </setting>
            <setting name="selectMinValueRAM" serializeAs="String">
                <value>256</value>
            </setting>
        </StartUpMyServer.Properties.Settings>
    </userSettings>
</configuration>